tests/
.project
.classpath
.settings
target
.externalToolBuilders
META-INF/MANIFEST.MF
DatabaseManager.log
alfresco.log
.springBeans
.idea
shark/server/overlays/net.sourceforge.sharkwf.shark-ws-plain-4.4-1/
*.iml
bin/
target/

*.jar
*.hgtags
*.hg
